@import "../../../scss/lib";

.card {
  @include customize(theme) {
    background: get-value(background-color);
    color: get-value(text-color);
  }

  list-style: none;

  &Container {
    display: flex;
    flex-direction: column;
    padding: rem(10px) rem(20px);
  }

  &Title {
    font-size: 2rem;
  }

  &Body {
    margin-top: rem(10px);
  }

  &Link {
    text-decoration: none;
  }
}
